<%include partials/landingheader %>

<div class="container">
    <div class="jumbotron">
        <h1>CPM CUSTOMER TOOLKIT</h1>
        <h3>Alpha Version</h3>
    </div>
    
    <p id="intro">
    Welcome to the CPM Customer Toolkit page, where you can find the tools for data capture and communication with new business customers. The aim of this toolkit is to speed up Fact Find calls, especially in the area of capturing the business information of customers.
    </p>
    
    <div class="row">
        <div class="col-xs-6 content_text">
            <p>
            This version has several options for you to choose from. You can use the data capture form for a concise fact find. You can also use this data to run analytics on a database system, generating various reports (such as the average customer profile)
            </p>
            
            <p>
            You can also use the incorporated email templates to cut down on the time needed to send standard emails to customers. This includes sending the price details, quotes and a general response email.
            </p>
        </div>
    
        <!--NEED TO MAINTAIN TEXT WITHIN BTN WHEN SCREEN IS RESIZED! CSS UPDATE!-->
        <div class="col-xs-6 buttons">
            <a href="/data"><button class="btn btn-default">Existing Data</button></a>
            <a href="/data/new"><button class="btn btn-info">New Data</button></a>
            <button class="btn btn-warning">Analytic Tools</button>
        </div>
    </div>

</div>

















<%include partials/footer%>